// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// BootStrap
$nav-link-font-size:                16px;
$nav-link-font-weight:              700;
