// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Noto Sans JP", sans-serif; //ページ全体に適用する場合
}

img.headerlogo {
    height: 72px;
}

article {
    margin-top: 72px;
}
