// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
//    font-family: "Noto Sans JP", sans-serif; //ページ全体に適用する場合
    font-family: 'Sawarabi Mincho', serif;
    font-size: 1rem;
}

.bg {
    z-index: 0;
}


.section {
    width: 100vw;
    height: auto;
    padding: 7rem 0;
}

.section-profile {
  width: 100vw;
  height: 100vh;
  padding-top: 82px; 
  padding-bottom: 120px;
}

.section-news, .section-artwork {
//  overflow: hidden;
  width: 100vw;
  height: auto;
  padding: 7rem 0;
}

.sub-section {
    display: flex;
    justify-content: center;
}
.section-slim{
    padding: 3rem 0;
    height: 100px
}

/*
 * Navbar CSS
 */

.navbar {
  .navbar-brand {
    text-align: center;
  }
  .nav-item, a .nav-link{
    width: 120px;
  }
    background: none;
    transition-duration: 1s !important;

}
.navbar:hover {
  background: #fff !important;
  transition-duration: 1s !important;
}
.navbar-white .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.659);
}
    
.navbar-white .navbar-nav .nav-item .nav-link:hover {
    color: rgb(147, 174, 11);
}


/* 
 * WORKS Section
 */

#WORKS img {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center center;
    width: 80%;
    margin: auto;
    display: block;
}

/*
 * Firstview
 */

// 共通クラス
.slick__bg {
//  padding-bottom: 16.5%;
  width: auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

// Image url
.slick__bg01 {
  background-image: url(/images/1625819_s.jpg);
}
.slick__bg02 {
  background-image: url(/images/1368913_m.jpg);
}
.slick__bg03 {
  background-image: url(/images/key-image-sho.jpg);
}

/*
.slider {
    height: auto;
    width: auto;
    margin-inline: auto;
    overflow: hidden;
  }
  .slick-img img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
    object-position: center center;
  }
  */
  @keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15); /* 拡大率 */
    }
  }
  .add-animation {
    animation: zoomUp 10s linear 0s normal both;
  }

/*
 * PROFILE section
 */

#PROFILE {
  //.profile-img {
  //  background-image: url(../../images/hiragana.jpg); 
  // }

    background-image: url(../../images/hiragana.jpg);
    background-position: left;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  
  .col-md-4 img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
    z-index: 0;
  }


  .col-text {
    width: auto;
    height: 100%;
    margin-inline: 5%;
    background-color: rgba(236, 236, 236, 0.7);
    z-index: 10;
    padding: 1.5rem;

    .ryakureki {
        margin-bottom: 5rem;
    }
    .shoreki {
        margin-bottom: 5rem;
        tr td:first-child {
            width: 120px
        }
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
  }
 
  .item1 {
    order: 1;
  }

  .item2 {
    order: 2;
  }

  .profile-top {
    flex-wrap: nowrap;
  }
}

/*
 *  News Section
 */

#NEWS {
  .news-post {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5rem;
  }
  .post {
    .post-image img {
      width: 100%;
      max-width: 300px;
    }

  }
  .post.row > * {
    padding-right: 30px;
    padding-left: 30px;
  } 

}

#CONTACT {
  #modalBody {
    white-space: pre-wrap;
  }
  .attention {
    display: none;
  }

  height: 100vh;
  background-image: url(/images/contact_bg_img.png);
  background-color:rgba(255, 255, 255, 0.9)!important;
  background-blend-mode:screen;
}

/*
 *  Footer
 */
.footer {
  background: #d5d5d5;
  color: #000000;
  padding: 80px 20px 1rem;
}

p.footer-copyright {
  color: #666;
  font-size: 13px;
  text-align: center;
  margin-top: 50px;
}

div.footer-inner {
  max-width: 1220px;
}

ul.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  list-style: none;
}

.footer-btmList-item a {
  color:#666;
  font-size: 1rem;
  text-decoration: none;
}

.footer-btmList-item a:hover {
  color:#60983f;
}

.footer-btmList-item + .footer-btmList-item {
  margin-left: 44px;
  position: relative;
}

.footer-btmList-item + .footer-btmList-item::before {
  background: #666;
  content: "";
  position: absolute;
  left: -22px;
  top: 0;
  width: 1px;
  height: 100%;
}

.footer-btmList-item {
  line-height: 1.1;
}

.footer-logo {
  text-align: center;
}

/*
 * Artwork Gallery
 */

// masonry
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
  zoom: 1;
}
#wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#header {
  ul {
    list-style-type: none;
  }
}

/*img {
	padding: 0;
	margin: 0;
}*/

.item {
	margin: 10px;
	width: 320px;
	padding: 8px;
	border: 1px solid #eee;
	float: left;   /*Lazy Load */
}
.item.x2 {
	/*max-width: 480px;*/
	width: 320px;
	position: relative;
}
.item img {
	width: 100%;
}
.item p {
	text-align: center;
	margin: 5px auto;
	font-size: 16px;
	color: #999999;
}
.item.text p {
	text-align: left;
}
h1 {
	font-size: 30px;
	color: #777;
	padding: 10px;
}
p#ww {
	text-align: center;
	color: #999;
	font-size: 14px;
}

@media screen and (max-width: 480px) {
.item {
	margin: 10px auto;
	width: 100%;
	padding: 8px;
	border: 1px solid #eee;
	float: none;   /*Lazy Load */
}
.item.x2 {
	/*max-width: 480px;*/
	width: 100%;
}
}

/*
 * Photoswipe
 */

.pswp__dynamic-caption {
  color: #999 !important; 
  width: 100%;
}
.pswp__dynamic-caption a {
//  color: #fff;
  text-decoration: underline;
}

.pswp {
  --pswp-icon-color: #999 !important;
}