// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
//    font-family: "Noto Sans JP", sans-serif; //ページ全体に適用する場合
    font-family: 'Sawarabi Mincho', serif;
    font-size: 1rem;
}

.bg {
    z-index: 0;
}


.section {
    width: 100vw;
    height: 100vh;
    padding: 7rem 0; 
}

.section-news {
  width: 100vw;
  height: auto;
  padding: 7rem 0;
}

.sub-section {
    display: flex;
    justify-content: center;
}
.section-slim{
    padding: 3rem 0;
}

/*
 * Navbar CSS
 */

.navbar {
  .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
  }
  .nav-item, a .nav-link{
    width: 120px;
  }
    background: none;
}
.navbar:hover {
  background: #fff !important;
  transition-duration: 1s !important;
}
.navbar-white .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.659);
}
    
.navbar-white .navbar-nav .nav-item .nav-link:hover {
    color: rgb(147, 174, 11);
}


/* 
 * WORKS Section
 */

#WORKS img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    width: 80%;
    margin: auto;
    display: block;
}

.slider {
    height: 100vh;
    width: 100vw;
    margin-inline: auto;
    overflow: hidden; /* 画像がはみ出ないようにする */
  }
  .slick-img img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  @keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15); /* 拡大率 */
    }
  }
  .add-animation {
    animation: zoomUp 10s linear 0s normal both;
  }

/*
 * PROFILE section
 */

#PROFILE {
  .profile-img {
    background-image: url(../../images/hiragana.jpg); 
  }
  .col-img {
    width: 33%;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover; 
   }   
  .item1 {
    order: 1;
  }
  .col-text {
    width: 67%;
    height: 100%;
    margin-left: 5%;
    .ryakureki {
        margin-bottom: 5rem;
    }
    .shoreki {
        margin-bottom: 5rem;
        tr td:first-child {
            width: 120px
        }
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .profile-spacer {
        padding-bottom: 4rem;
    }

    .profile-spacer-xs {
        padding-bottom: 1rem;
    }
   }   
  .item2 {
    order: 2;
  }
}

/*
 *  News Section
 */

#NEWS {
  .news-post {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5rem;
  }
  .post {
    .post-image img {
      width: 300px;
    }
  }

}