// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
//    font-family: "Noto Sans JP", sans-serif; //ページ全体に適用する場合
    font-family: 'Sawarabi Mincho', serif;
    font-size: 1rem;
}

.bg {
    z-index: 0;
}


.section {
    width: 100vw;
    height: 100vh;
    padding: 7rem 0;
}

.section-profile {
  width: 100vw;
  height: 100vh;
  padding-top: 82px; 
  padding-bottom: 120px;
}


.section-news {
//  overflow: hidden;
  width: 100vw;
  height: auto;
  padding: 7rem 0;
}

.sub-section {
    display: flex;
    justify-content: center;
}
.section-slim{
    padding: 3rem 0;
    height: 100px
}

/*
 * Navbar CSS
 */

.navbar {
  .navbar-brand {
    text-align: center;
  }
  .nav-item, a .nav-link{
    width: 120px;
  }
    background: none;
    transition-duration: 1s !important;

}
.navbar:hover {
  background: #fff !important;
  transition-duration: 1s !important;
}
.navbar-white .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.659);
}
    
.navbar-white .navbar-nav .nav-item .nav-link:hover {
    color: rgb(147, 174, 11);
}


/* 
 * WORKS Section
 */

#WORKS img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    width: 80%;
    margin: auto;
    display: block;
}

.slider {
    height: auto;
    width: auto;
    margin-inline: auto;
    overflow: hidden; /* 画像がはみ出ないようにする */
  }
  .slick-img img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
    object-position: center center;
  }
  @keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15); /* 拡大率 */
    }
  }
  .add-animation {
    animation: zoomUp 10s linear 0s normal both;
  }

/*
 * PROFILE section
 */

#PROFILE {
  //.profile-img {
  //  background-image: url(../../images/hiragana.jpg); 
  // }
  .col-md-4 img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .col-text {
    width: 60%;
    height: 100%;
    margin-left: 5%;

    .ryakureki {
        margin-bottom: 5rem;
    }
    .shoreki {
        margin-bottom: 5rem;
        tr td:first-child {
            width: 120px
        }
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
  }   
  
  .item1 {
    order: 1;
  }

  .item2 {
    order: 2;
  }

  .profile-top {
    flex-wrap: nowrap;
  }
}

/*
 *  News Section
 */

#NEWS {
  .news-post {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5rem;
  }
  .post {
    .post-image img {
      width: 100%;
      max-width: 300px;
    }

  }
  .post.row > * {
    padding-right: 30px;
    padding-left: 30px;
  } 

}

#CONTACT {
  #modalBody {
    white-space: pre-wrap;
  }
  .attention {
    display: none;
  }
}

/*
 *  Footer
 */
.footer {
  background: #d5d5d5;
  color: #000000;
  padding: 80px 20px 1rem;
}

p.footer-copyright {
  color: #666;
  font-size: 13px;
  text-align: center;
  margin-top: 50px;
}

div.footer-inner {
  max-width: 1220px;
}

ul.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  list-style: none;
}

.footer-btmList-item a {
  color:#666;
  font-size: 1rem;
  text-decoration: none;
}

.footer-btmList-item a:hover {
  color:#60983f;
}

.footer-btmList-item + .footer-btmList-item {
  margin-left: 44px;
  position: relative;
}

.footer-btmList-item + .footer-btmList-item::before {
  background: #666;
  content: "";
  position: absolute;
  left: -22px;
  top: 0;
  width: 1px;
  height: 100%;
}

.footer-btmList-item {
  line-height: 1.1;
}

.footer-logo {
  text-align: center;
}